.listNav {
    color: wheat;
    font-weight: 600;
    font-size: 1.2rem;
    text-shadow: 5px 5px 10px black;
    transition: .3s;
    cursor: pointer;
    position: relative;
}

.listNav p:hover {
    color: #66A5AD;
}

.listNav ul {
    position: absolute;
    width: 300px;
    padding: 6px;
    text-align: center;
    top: 50px;
    right: -120px;
    background-color: #5f8294;
    list-style: none;
    border-radius: 0px 0px 6px 6px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .6s;

    display: flex;
    flex-direction: column;
}

.listNav ul:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.listNav ul .lnk {
    margin: 1rem 0;
}

.listNav ul .lnk {
    color: wheat;
    text-decoration: none;
    transition: .3s;
}

.listNav ul .lnk:hover {
    color: #23323a;
}

.listNav p:hover + ul {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}