.cartWidget {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 6rem;
    position: relative;
}

.cartWidget p {
    width: 20px;
    height: auto;
    text-align: center;
    background-color: #cccccc;
    padding: 3px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    right: -10px;
}